# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/build
build.*

/.vscode

# misc
.DS_Store

npm-debug.log*

size-plugin.json